<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://www.essepuntato.it/graffoo/configuration/">
    
    <!-- Graffoo configuration -->
    <graffoo>

        <!-- it manages the appearance of additional informations in XSLT intermediate transformations 
            and the printing of main RTFs (generated in graffoo.xslt) as files in output directory -->
        <debug>false</debug>
        
        
        <!-- default values used if they're not defined by execution environment -->  
        <default-values>
            
            <!-- has the translation to generate all diagram's ontologies or only the main ontology? -->
            <generate-all-ontologies>false</generate-all-ontologies>
            
            <!-- entities in final ontology have to be visited hierarchically? -->
            <use-hierarchical-visit>false</use-hierarchical-visit>
            
            <!-- use depth-first visit? (only if hierarchical visit is used) -->
            <use-depth-first-visit>true</use-depth-first-visit>
            
            <!-- are simple nodes's appearance info to be maintain in final ontologies? -->
            <maintain-appearance>false</maintain-appearance>
            
            <!-- it specifies which ontology's IRI (general or version IRI) is to be used --> 
            <use-imported-ontology-version-iri>false</use-imported-ontology-version-iri>
            
            <!-- default ontology IRI -->
            <default-ontology-iri>&lt;http://www.essepuntato.it/example&gt;</default-ontology-iri>
            
            <!-- default empty prefix --> 
            <default-empty-prefix prefix="" 
                uri="http://www.essepuntato.it/example/"/>
            
        </default-values>

        
        <!-- prefix used for auto-generated entities like
                * classes derived from restrictions 
                * has<Lang>Rule annotation property, 
                    to store external rules expressed in languages different from SWRL 
                * hasAppearance annotation property, 
                    to store entity nodes's appearance info -->
        <graffoo-prefix prefix="graffoo" 
            uri="http://www.essepuntato.it/graffoo/autoGeneratedEntities/"/>


        <!-- maximum scans number to detect new entity from Manchester strings and SWRL rules
            (4th intermediate translation) -->
        <scan-limit>10</scan-limit>
        
        
        <!-- configuration params used during the import of graphml diagram
            WARNING: not touch them unless you know what you're doing! -->
        <import-graphml>
            
            <!-- chars used in the generation of restriction labels -->
            <restriction-label blank-substitute="_" prefix-left-delimiter="(" 
                prefix-right-delimiter=")" numeric-suffix="_#"/>
            
            <!-- chars used in the generation of edgelabel unique ids -->
            <edgelabel-id first-prefix="#" second-prefix='#'/>
    
    
            <!-- in utls:get-edgelabel-position(), utls:segment-intersection() function 
                could find no intersection points if the source point of an edge is 
                on the border of the source node and not within it -->
            <segment-intersection>
                
                <!-- it is necessary to progressively increase the tolerance? -->
                <incremental>true</incremental>
                
                <!-- num of points of tollerance in utls:segment-intersection() -->
                <tollerance>1</tollerance>
                
            </segment-intersection>
            
            
            <!-- accuracy achieved in the calculation of the square root
                (Newton-Raphson method based on successive approximations) -->
            <sqrt-precision>0.1</sqrt-precision>
        </import-graphml>
        
        
        <!-- namespace used in fn:error() function during translation -->
        <error-namespace>http://www.essepuntato.it/graffoo/errors/</error-namespace>
        
        
        <!-- namespace used for temporary trees (Result Tree Fragment) during translation
            WARNING: if you want to modify it, you must also update 
                the rtf xmlns declaration in xsl stylesheets -->
        <rtf-namespace>http://www.essepuntato.it/graffoo/resultTreeFragment/</rtf-namespace>
        
    </graffoo>
    
    
    <!-- OWL2 values -->
    <owl2>
        
        <!-- private prefixes of OWL2 to include automatically in the generated ontology -->
        <default-prefixes>
            <prefix prefix="rdf" uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
            <prefix prefix="rdfs" uri="http://www.w3.org/2000/01/rdf-schema#"/>
            <prefix prefix="owl" uri="http://www.w3.org/2002/07/owl#"/>
            <prefix prefix="xsd" uri="http://www.w3.org/2001/XMLSchema#"/>
            <prefix prefix="swrl" uri="http://www.w3.org/2003/11/swrl#"/>
            <prefix prefix="swrlb" uri="http://www.w3.org/2003/11/swrlb#"/>
            <prefix prefix="swrlx" uri="http://www.w3.org/2003/11/swrlx#"/>
        </default-prefixes>
        
        
        <!-- 
            to recognize synonyms of common OWL2 axioms (case-insensitive recognition),
            translate them in Manchester syntax and implement punning of axioms's subjects/objects.
            NOTATION: 
                * name: axiom's name in OWL
                * manchester: axiom's name in Manchester syntax
                * domain: list of space-separated accepted types for axiom's subject 
                    (highest precedence from left)
                * range: list of space-separated accepted types for axiom's object 
                    (highest precedence from left)
            WARNING: each synonym must identifies ONE axiom 
        -->
        <common-axioms>
            
            <!-- <<<<< ontologies >>>>> -->
            
            <axiom name="owl:imports" manchester="Import" 
                domain="ontology" range="ontology">
                <synonym>owl:import</synonym>
                <synonym>imports</synonym>
                <synonym>import</synonym>
            </axiom>
            
            
            <!-- <<<<< classes >>>>> -->
            
            <axiom name="owl:equivalentClass" manchester="EquivalentTo" 
                domain="class class-restriction datarange datarange-restriction" 
                range="class class-restriction datarange datarange-restriction">
                <synonym>equivalentclass</synonym>
                <synonym>equivalent class</synonym>
                <synonym>hasequivalentclass</synonym>
                <synonym>has equivalent class</synonym>
                <synonym>equivalentto</synonym>
                <synonym>equivalent to</synonym>
                <synonym>isequivalentto</synonym>
                <synonym>is equivalent to</synonym>
                <synonym>equivalent</synonym>
            </axiom>
            
            <axiom name="rdfs:subClassOf" manchester="SubClassOf"
                domain="class class-restriction" range="class class-restriction">
                <synonym>rdf:subClassOf</synonym>
                <synonym>subclassof</synonym>
                <synonym>subclass of</synonym>
                <synonym>sub-classof</synonym>
                <synonym>sub-class of</synonym>
                <synonym>issubclassof</synonym>
                <synonym>issub-classof</synonym>
                <synonym>is subclass of</synonym>
                <synonym>is sub-class of</synonym>
                <synonym>sub class of</synonym>
                <synonym>sub-class of</synonym>
                <synonym>subclass</synonym>
                <synonym>sub-class</synonym>
                <synonym>sub class</synonym>
                <synonym>isa</synonym>
                <synonym>is a</synonym>
                <synonym>is-a</synonym>
            </axiom>
            
            <axiom name="owl:disjointWith" manchester="DisjointWith"
                domain="class class-restriction" range="class class-restriction">
                <synonym>disjointwith</synonym>
                <synonym>disjoint with</synonym>
                <synonym>isdisjointwith</synonym>
                <synonym>is disjoint with</synonym>
                <synonym>disjoint</synonym>
                <synonym>has disjoint</synonym>
            </axiom>
            
            
            <!-- <<<<< properties >>>>> -->
            
            <axiom name="rdfs:domain" manchester="Domain"
                domain="annotation-property object-property data-property" 
                range="class class-restriction">
                <synonym>domain</synonym>
            </axiom>
            
            <axiom name="rdfs:range" manchester="Range"
                domain="annotation-property object-property data-property" 
                range="datarange datarange-restriction class class-restriction">
                <synonym>range</synonym>
            </axiom>
            
            <axiom name="owl:equivalentProperty" manchester="EquivalentTo"
                domain="object-property data-property" range="object-property data-property">
                <synonym>equivalentproperty</synonym>
                <synonym>equivalent property</synonym>
            </axiom>
            
            <axiom name="rdfs:subPropertyOf" manchester="SubPropertyOf"
                domain="annotation-property object-property data-property" 
                range="annotation-property object-property data-property">
                <synonym>subpropertyof</synonym>
                <synonym>subproperty of</synonym>
                <synonym>sub property of</synonym>
                <synonym>subproperty</synonym>
                <synonym>sub property</synonym>
            </axiom>
            
            <axiom name="owl:propertyDisjointWith" manchester="DisjointWith"
                domain="object-property data-property" range="object-property data-property">
                <synonym>propertydisjointwith</synonym>
                <synonym>property disjoint with</synonym>
                <synonym>property disjoint</synonym>
            </axiom>

            <axiom name="owl:inverseOf" manchester="InverseOf"
                domain="object-property" range="object-property">
                <synonym>inverseof</synonym>
                <synonym>inverse of</synonym>
                <synonym>inverse</synonym>
            </axiom>
            
            
            <!-- <<<<< individuals >>>>> -->
            
            <axiom name="rdf:type" manchester="Types"
                domain="individual" range="class class-restriction">
                <synonym>type</synonym>
                <synonym>types</synonym>
                <synonym>has type</synonym>
                <synonym>instance</synonym>
                <synonym>instanceof</synonym>
                <synonym>instance of</synonym>
                <synonym>isinstanceof</synonym>
                <synonym>is instance of</synonym>
            </axiom>
            
            <axiom name="owl:sameAs" manchester="SameAs"
                domain="individual" range="individual">
                <synonym>sameas</synonym>
                <synonym>same as</synonym>
                <synonym>issameas</synonym>
                <synonym>is same as</synonym>
                <synonym>same</synonym>
            </axiom>
            
            <axiom name="owl:differentFrom" manchester="DifferentFrom"
                domain="individual" range="individual">
                <synonym>differentfrom</synonym>
                <synonym>different from</synonym>
                <synonym>isdifferentfrom</synonym>
                <synonym>is different from</synonym>
                <synonym>different</synonym>
            </axiom>
        </common-axioms>
        
        
        <!-- default datatypes -->
        <default-datatypes>
            
            <!-- OWL -->
            <datatype name="owl:real"/>
            <datatype name="owl:rational"/>
            
            <!-- XML-Schema -->
            <datatype name="xsd:decimal"/>
            <datatype name="xsd:integer"/>
            <datatype name="xsd:nonNegativeInteger"/>
            <datatype name="xsd:nonPositiveInteger"/>
            <datatype name="xsd:positiveInteger"/>
            <datatype name="xsd:negativeInteger"/>
            <datatype name="xsd:long"/>
            <datatype name="xsd:int"/>
            <datatype name="xsd:short"/>
            <datatype name="xsd:byte"/>
            <datatype name="xsd:unsignedLong"/>
            <datatype name="xsd:unsignedInt"/>
            <datatype name="xsd:unsignedShort"/>
            <datatype name="xsd:unsignedByte"/>
            <datatype name="xsd:double"/>
            <datatype name="xsd:float"/>
            <datatype name="xsd:string"/>
            <datatype name="xsd:normalizedString"/>
            <datatype name="xsd:token"/>
            <datatype name="xsd:language"/>
            <datatype name="xsd:Name"/>
            <datatype name="xsd:NCName"/>
            <datatype name="xsd:NMTOKEN"/>
            <datatype name="xsd:boolean"/>
            <datatype name="xsd:hexBinary"/>
            <datatype name="xsd:base64Binary"/>
            <datatype name="xsd:anyURI"/>
            <datatype name="xsd:dateTime"/>
            <datatype name="xsd:dateTimeStamp"/>
            
            <!-- RDF and RDF-Schema -->
            <datatype name="rdfs:Literal"/>
            <datatype name="rdfs:Datatype"/>
            <datatype name="rdf:langString"/>
            <datatype name="rdf:HTML"/>
            <datatype name="rdf:XMLLiteral"/>
            
        </default-datatypes>
        
    </owl2>
    
</configuration>
